.EditSectionHeader {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 16px;

  p.section-title {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
  }

  .icon {
    cursor: pointer;
    margin-right: 16px;
  }
}
