.PrinciplesPage {
  table.table {
    background-color: #fff;
  }

  .custom-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: #fafafa;

    h1 {
      font-size: 24px;
      margin: 0;
      padding: 0;
    }
  }
}
