$theme-colors: (
        "primary": #00BCD4
);

//noinspection CssUnknownTarget
@import 'bootstrap/scss/bootstrap';

body {
  background-color: #fafafa;
}

.flex-1 {
  flex: 1 1 auto;
}

.container-fluid {
  display: flex;
  flex-flow: column nowrap;
}

.row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}


table.table {
  background-color: #fff;
}

.table-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: #fafafa;

  h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
}
